
<form action="/rides" method="get">
    <input type="submit" value="All Rides">
</form>

<%=@ride.name %>
<li><%=@ride.pace %></li>
<li><%=@ride.drop %></li>
<li><%=@ride.start_time %></li>
<li><%=@ride.location %></li>
<li><%=@ride.distance %></li>
<li><%=@ride.surface %></li>
<li><%=@ride.description %></li>

<%if current_user.id == @ride.user_id%>
<form action="/rides/<%= @ride.id %>/edit" method="get">
    <input type="submit" value="Edit Ride">
</form>
<%end%>

<% if current_user.id == @ride.user_id%>
<form action="/rides/<%= @ride.id %>/destroy" method="POST">
<input type="hidden" value="delete" name="_method">
<input type="submit" value="Delete Ride">
</form>
<%end%>
